<!DOCTYPE html>
<html>
<head>
  <title>Car Details</title>
</head>
<body>
    <h1>Make: <%= make %> </h1>
    <p>Model: <%= model %> </p>
    <p>Color: <%= color %> </p>
    <p>Number: <%= number %> </p>
    <p>Year: <%= year %> </p>
</body>
</html>
